* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: blueviolet;
}
.sidebar {
  background-color: black;
  flex: 0.15;
  background-color: #f1f1f1;
  overflow: auto;
  margin: 5px;
}
.iframeContainer {
  background-color: #f1f1f1;
  margin: 5px;
  flex: 0.85;
}

.sidebar a {
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #4caf50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.sidebar a:focus:not(.active) {
  background-color: #555;
  color: white;
}

.sidebar p {
  padding: 1rem;
  color: red;
}

.responsive-iframe {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

#vjsPlayer {
  margin: auto;
}
h1 {
  text-align: center;
  padding: 20px;
}

.btn {
  padding: 1rem;
  margin: 1rem 0;
}

.container-timenow {
  max-width: 200px;
  margin: auto;
}

.captionText {
  text-align: center;
  font-size: 1.2rem;
}
.hidden {
  display: none;
}

.container-contact {
  max-width: 400px;
  margin: auto;
}
.container-contact input {
  padding: 0.4rem;
  margin-bottom: 1rem;
}

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  display: inline;
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.bgChange {
  background-color: #fcd34d;
}
.body p {
  text-align: center;
}
